.calendar {
  font-family: Arial, serif;
  font-size: 30px;
  display: grid;
  grid-template: repeat(6, 100px)/repeat(7, 100px);
  grid-gap: 1px;
  margin: 50px; }
  .calendar div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    background-color: #eee;
    border: 1px solid black;
    -webkit-transition: background-color 0.5s linear, -webkit-transform 0.5s linear;
    transition: background-color 0.5s linear, -webkit-transform 0.5s linear;
    transition: background-color 0.5s linear, transform 0.5s linear;
    transition: background-color 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear; }
  .calendar div:hover {
    cursor: pointer;
    position: relative;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    background-color: pink; }

body {
  background: #dceef4; }

.calendar-30 :nth-child(1n+31) {
  display: none; }

.calendar-29 :nth-child(1n+30) {
  display: none; }

.calendar-28:nth-child(1n+29) {
  display: none; }

.calendar-mon div:first-child {
  grid-column-start: 1;
  grid-column-end: 2; }

.calendar-tue div:first-child {
  grid-column-start: 2;
  grid-column-end: 3; }

.calendar-wed div:first-child {
  grid-column-start: 3;
  grid-column-end: 4; }

.calendar-thu div:first-child {
  grid-column-start: 4;
  grid-column-end: 5; }

.calendar-fri div:first-child {
  grid-column-start: 5;
  grid-column-end: 6; }

.calendar-sat div:first-child {
  grid-column-start: 6;
  grid-column-end: 7; }

.calendar-sun div:first-child {
  grid-column-start: 7;
  grid-column-end: 8; }

.calendar-28 div:nth-child(1)::after {
  content: "1"; }

.calendar-28 div:nth-child(2)::after {
  content: "2"; }

.calendar-28 div:nth-child(3)::after {
  content: "3"; }

.calendar-28 div:nth-child(4)::after {
  content: "4"; }

.calendar-28 div:nth-child(5)::after {
  content: "5"; }

.calendar-28 div:nth-child(6)::after {
  content: "6"; }

.calendar-28 div:nth-child(7)::after {
  content: "7"; }

.calendar-28 div:nth-child(8)::after {
  content: "8"; }

.calendar-28 div:nth-child(9)::after {
  content: "9"; }

.calendar-28 div:nth-child(10)::after {
  content: "10"; }

.calendar-28 div:nth-child(11)::after {
  content: "11"; }

.calendar-28 div:nth-child(12)::after {
  content: "12"; }

.calendar-28 div:nth-child(13)::after {
  content: "13"; }

.calendar-28 div:nth-child(14)::after {
  content: "14"; }

.calendar-28 div:nth-child(15)::after {
  content: "15"; }

.calendar-28 div:nth-child(16)::after {
  content: "16"; }

.calendar-28 div:nth-child(17)::after {
  content: "17"; }

.calendar-28 div:nth-child(18)::after {
  content: "18"; }

.calendar-28 div:nth-child(19)::after {
  content: "19"; }

.calendar-28 div:nth-child(20)::after {
  content: "20"; }

.calendar-28 div:nth-child(21)::after {
  content: "21"; }

.calendar-28 div:nth-child(22)::after {
  content: "22"; }

.calendar-28 div:nth-child(23)::after {
  content: "23"; }

.calendar-28 div:nth-child(24)::after {
  content: "24"; }

.calendar-28 div:nth-child(25)::after {
  content: "25"; }

.calendar-28 div:nth-child(26)::after {
  content: "26"; }

.calendar-28 div:nth-child(27)::after {
  content: "27"; }

.calendar-28 div:nth-child(28)::after {
  content: "28"; }

.calendar-29 div:nth-child(1)::after {
  content: "1"; }

.calendar-29 div:nth-child(2)::after {
  content: "2"; }

.calendar-29 div:nth-child(3)::after {
  content: "3"; }

.calendar-29 div:nth-child(4)::after {
  content: "4"; }

.calendar-29 div:nth-child(5)::after {
  content: "5"; }

.calendar-29 div:nth-child(6)::after {
  content: "6"; }

.calendar-29 div:nth-child(7)::after {
  content: "7"; }

.calendar-29 div:nth-child(8)::after {
  content: "8"; }

.calendar-29 div:nth-child(9)::after {
  content: "9"; }

.calendar-29 div:nth-child(10)::after {
  content: "10"; }

.calendar-29 div:nth-child(11)::after {
  content: "11"; }

.calendar-29 div:nth-child(12)::after {
  content: "12"; }

.calendar-29 div:nth-child(13)::after {
  content: "13"; }

.calendar-29 div:nth-child(14)::after {
  content: "14"; }

.calendar-29 div:nth-child(15)::after {
  content: "15"; }

.calendar-29 div:nth-child(16)::after {
  content: "16"; }

.calendar-29 div:nth-child(17)::after {
  content: "17"; }

.calendar-29 div:nth-child(18)::after {
  content: "18"; }

.calendar-29 div:nth-child(19)::after {
  content: "19"; }

.calendar-29 div:nth-child(20)::after {
  content: "20"; }

.calendar-29 div:nth-child(21)::after {
  content: "21"; }

.calendar-29 div:nth-child(22)::after {
  content: "22"; }

.calendar-29 div:nth-child(23)::after {
  content: "23"; }

.calendar-29 div:nth-child(24)::after {
  content: "24"; }

.calendar-29 div:nth-child(25)::after {
  content: "25"; }

.calendar-29 div:nth-child(26)::after {
  content: "26"; }

.calendar-29 div:nth-child(27)::after {
  content: "27"; }

.calendar-29 div:nth-child(28)::after {
  content: "28"; }

.calendar-29 div:nth-child(29)::after {
  content: "29"; }

.calendar-30 div:nth-child(1)::after {
  content: "1"; }

.calendar-30 div:nth-child(2)::after {
  content: "2"; }

.calendar-30 div:nth-child(3)::after {
  content: "3"; }

.calendar-30 div:nth-child(4)::after {
  content: "4"; }

.calendar-30 div:nth-child(5)::after {
  content: "5"; }

.calendar-30 div:nth-child(6)::after {
  content: "6"; }

.calendar-30 div:nth-child(7)::after {
  content: "7"; }

.calendar-30 div:nth-child(8)::after {
  content: "8"; }

.calendar-30 div:nth-child(9)::after {
  content: "9"; }

.calendar-30 div:nth-child(10)::after {
  content: "10"; }

.calendar-30 div:nth-child(11)::after {
  content: "11"; }

.calendar-30 div:nth-child(12)::after {
  content: "12"; }

.calendar-30 div:nth-child(13)::after {
  content: "13"; }

.calendar-30 div:nth-child(14)::after {
  content: "14"; }

.calendar-30 div:nth-child(15)::after {
  content: "15"; }

.calendar-30 div:nth-child(16)::after {
  content: "16"; }

.calendar-30 div:nth-child(17)::after {
  content: "17"; }

.calendar-30 div:nth-child(18)::after {
  content: "18"; }

.calendar-30 div:nth-child(19)::after {
  content: "19"; }

.calendar-30 div:nth-child(20)::after {
  content: "20"; }

.calendar-30 div:nth-child(21)::after {
  content: "21"; }

.calendar-30 div:nth-child(22)::after {
  content: "22"; }

.calendar-30 div:nth-child(23)::after {
  content: "23"; }

.calendar-30 div:nth-child(24)::after {
  content: "24"; }

.calendar-30 div:nth-child(25)::after {
  content: "25"; }

.calendar-30 div:nth-child(26)::after {
  content: "26"; }

.calendar-30 div:nth-child(27)::after {
  content: "27"; }

.calendar-30 div:nth-child(28)::after {
  content: "28"; }

.calendar-30 div:nth-child(29)::after {
  content: "29"; }

.calendar-30 div:nth-child(30)::after {
  content: "30"; }

.calendar-31 div:nth-child(1)::after {
  content: "1"; }

.calendar-31 div:nth-child(2)::after {
  content: "2"; }

.calendar-31 div:nth-child(3)::after {
  content: "3"; }

.calendar-31 div:nth-child(4)::after {
  content: "4"; }

.calendar-31 div:nth-child(5)::after {
  content: "5"; }

.calendar-31 div:nth-child(6)::after {
  content: "6"; }

.calendar-31 div:nth-child(7)::after {
  content: "7"; }

.calendar-31 div:nth-child(8)::after {
  content: "8"; }

.calendar-31 div:nth-child(9)::after {
  content: "9"; }

.calendar-31 div:nth-child(10)::after {
  content: "10"; }

.calendar-31 div:nth-child(11)::after {
  content: "11"; }

.calendar-31 div:nth-child(12)::after {
  content: "12"; }

.calendar-31 div:nth-child(13)::after {
  content: "13"; }

.calendar-31 div:nth-child(14)::after {
  content: "14"; }

.calendar-31 div:nth-child(15)::after {
  content: "15"; }

.calendar-31 div:nth-child(16)::after {
  content: "16"; }

.calendar-31 div:nth-child(17)::after {
  content: "17"; }

.calendar-31 div:nth-child(18)::after {
  content: "18"; }

.calendar-31 div:nth-child(19)::after {
  content: "19"; }

.calendar-31 div:nth-child(20)::after {
  content: "20"; }

.calendar-31 div:nth-child(21)::after {
  content: "21"; }

.calendar-31 div:nth-child(22)::after {
  content: "22"; }

.calendar-31 div:nth-child(23)::after {
  content: "23"; }

.calendar-31 div:nth-child(24)::after {
  content: "24"; }

.calendar-31 div:nth-child(25)::after {
  content: "25"; }

.calendar-31 div:nth-child(26)::after {
  content: "26"; }

.calendar-31 div:nth-child(27)::after {
  content: "27"; }

.calendar-31 div:nth-child(28)::after {
  content: "28"; }

.calendar-31 div:nth-child(29)::after {
  content: "29"; }

.calendar-31 div:nth-child(30)::after {
  content: "30"; }

.calendar-31 div:nth-child(31)::after {
  content: "31"; }

/*# sourceMappingURL=main.css.map */
